<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" /> 
    
        <link href="@Url.Content("~/Content/jquery.mobile.css")" rel="stylesheet" type="text/css" />

        <script src="@Url.Content("~/Scripts/jquery-1.6.2.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery.mobile.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery.tmpl.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery.offline.js")" type="text/javascript"></script>

        @MvcMiniProfiler.MiniProfiler.RenderIncludes()
    </head>

    <body>
        @RenderBody()
    </body>
</html>
