@using NinjaBone.Models
@model IEnumerable<Ninja>

@{
    ViewBag.Title = "Meet the ninjas";
    List<Ninja> ninjas = Model.ToList();
}
<div data-role="page">


    <div data-role="content">
        <ul data-role="listview">
            @foreach (Ninja ninja in ninjas)
            {
                <li><a href="#ninja-@ninja.Id">@ninja.Name</a></li>
            }
        </ul>
    </div><!-- /content -->

    <div data-role="footer" data-position="fixed">
		<div data-role="navbar">
			<ul>
				<li><a href="/" class="ui-btn-active">Ninjas</a></li>
				<li><a href="skills/">Mad skills</a></li>
			</ul>
		</div><!-- /navbar -->
	</div>
    
</div>

@foreach (Ninja ninja in ninjas)
{
    <div data-role="page" id="ninja-@ninja.Id">
        <div data-role="header" class="ninjaheader">
            <img src="http://tretton37.com/images/meet-orjan-sjoholm.jpg" height="40px" />
            <h1>@ninja.Name</h1>
        </div><!-- /header -->
            
        <ul data-role="listview">
            <li class="twitter">@ninja.Twitter</li>    
            <li class="skype">@ninja.Skype</li>    
            <li class="facebook">@ninja.Facebook</li>
        </ul>

         <div data-role="header">
            <div class="subHeader">Skills</div>
        </div>

        <ul data-role="listview">
            @foreach (var skill in ninja.GetSkills())
            {
                <li>@skill.Name</li>
            }
            
        </ul>

        <fieldset class="ui-grid-a">
            <div class="ui-block-a"><a href="mailto:@ninja.Email" data-role="button">Send Mail</a></div>
            <div class="ui-block-b"><a href="tel:@ninja.Phone" data-role="button">Call</a></div>	   
        </fieldset>

    </div>
    <!-- /page -->
}